div.title-container {
  margin-top: 4em;
}
.recipe-title {
  /*padding: 1em;*/
}
.recipe-title p {
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 1px;
}
.pic-des-container {
  height: 300px;
  margin-top: 10px !important;
}

.ingredients-container {
  height: 300px;
}

.instructions-container {
  height: 300px;
}

.recipe-pic {
  position: relative;
}
.recipe-pic img {
  width: inherit;
  height: inherit;
}
.picture-title {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2em;
  height: 2em;
  line-height: 2em;
  text-shadow: #000 2px 2px;
}
.picture-title span {
  margin-left: .5em;
}

.description-text {
  padding: 20px;
}

div.title-container,
div.info {
  height: initial;
}