div.title-container {
  margin-top: 4em;
}
.recipe-title p {
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 1px;
}
.pic-des-container {
  height: 300px;
  margin-top: 2em !important;
}

.ingredients-container {
  height: 300px;
}

.instructions-container {
  height: 300px;
}

.recipe-pic {
  position: relative;
}
.recipe-pic img {
  width: inherit;
  height: inherit;
}
.picture-title {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 4em;
}
.picture-title span:first-child {
  margin-left: .5em;
  color: #fff;
  font-size: 2em;
  line-height: 2em;
  text-shadow: #000 2px 2px;
}
.picture-title span:nth-child(2) {
  margin-left: .5em;
  color: gold;
  font-size: 1em;
  clear: both;
}

.description-text {
  padding: 20px;
}

div.title-container,
div.info {
  height: initial;
}