.home-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas: 
    ". . logo . ."
    ". search search search ."
    ". filters filters filters ."
    ". results results results .";
}

.logo {
  grid-area: logo;
  padding: 80px;
}

.search-box {
  height: 30px;
  grid-area: search;
}

.sspan {
  padding: 10px;
}

.filters {
  grid-area: filters;
  margin: 10px 0px;
}

.search-results {
  grid-area: results;
}

.test {
  background-color: black;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

