.container {
  width: 100vw;
  height: 100%;
  display: grid;
  padding: 0 !important;
  margin: 0 !important;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    ". . logo . ."
    ". search search search ."
    ". filters filters filters ."
    ". results results results .";
}

.logo {
  grid-area: logo;
  margin: 70px;
}

.search-box {
  width: 100%;
  grid-area: search;
  justify-self: center;
  align-self: end;
  margin: 10px;
}

.filters {
  grid-area: filters;
  margin: 10px 0px;
}

.search-results {
  grid-area: results;
}

