.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". .       logo    .       ."
    ". search  search  search  ."
    ". filters filters filters .";
}

.logo {
  grid-area: logo;
}

.search-box {
  grid-area: search;
}

.filters {
  grid-area: filters;
}
