div.title-container {
  margin-top: 4em;
}
body {
  font-family: Lato;
  margin: 2em;
  font-size: 1.4em;
}

h2 {
  font-size: 1.1em;
}

.sheading {
  margin-top: 60px;
}

div {
  background: orange;
  height: 100px;
  width: 400px;
  padding: 30px;
  border: 25px solid black;
}

.wt-model {
  box-sizing: content-box;
}

.tr-model {
  box-sizing: border-box;
}
